.navigation{
                display:flex;
                position:absolute;
                right:10px;
                top:10px;
                gap:10px;
} 

.search-link-in-image{
                display:block;
                text-align:right;
                position:absolute;
                right:10px;
                top:10px;
}
.search-link-in-advanced_search{
                display:block;
                text-align:right;
                position:absolute;
                right:10px;
                top:10px;
}
.google-search-box{
    align:center;
    border-radius: 30px;
    width:700px;
    height:50px;
    border-style: solid;
}
.google-search-button{
    border-radius: 20px;
    width:200px;
    height:50px;
    border-style: solid;

}
.search-form-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    height: 100vh;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    gap: 15px;                
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    margin: 0;
}
